body{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 500px;
    margin-top: 200px;
}
.todo-list-text{
    font-size: 15;
    margin-left: 200px;
    }

.todo-grid,.todo-input-grid{
    display: grid;  
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}
.todo-input-grid{
    margin-bottom: 10px;
}

.todo-input-css,.due-date-css{
    font-size: 15px;
    padding: 6px;
}

.add-button{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
}

.delete-todo-button{

    background-color: rgb(169, 1, 1);
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.todo-name,.todo-duedate{
    font-size: 15px;
}
.shane {
    margin: auto;
}